<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Explanation</title>
    <link rel="shortcut icon" href="https://i.postimg.cc/Kz00yp3w/Title.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
      .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
    <img class="center" src="https://i.postimg.cc/Kz00yp3w/Title.png" alt=""  width="700">
  </div>

<div class="b-example-divider"></div>

<div class="px-5 py-5 my-5 text-center">
    <h1 class="display-5">Game Explanation</h1>
  </div>

<div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Generalities: </h1>
      <table class="table table-primary">
          <tbody>
            <tr>
              <td class="align-middle" colspan="4">
                  <p class="lead fs-3 mb-4">Hi, there! (again). Now I'm in charge of explaining the nature of the ga-game.</p>
                  <p class="lead fs-3 mb-4">In general, you will practice the concepts before studied: simple and complex clause, parataxis and hypotaxis, macro and micro level of analysis; while using real data extracted from english literature.</p>
              </td>
              <td colspan="1"><img class="center" src="https://i.postimg.cc/t4kJF773/Hippo-para-Dialogos.png" alt=""  width="200"></td>
            </tr>
          </tbody>
        </table>
  </div>

<div class="b-example-divider"></div>

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Classification</h1>
      <table class="table table-success">
          <tbody>
            <tr>
              <td class="align-middle" colspan="1"><img class="center" src="https://i.postimg.cc/x8JM49rx/Parakeet-para-Dialogos-1.png" alt=""  width="200"></td>
              <td class="align-middle" colspan="4">
                  <p class="lead fs-3 mb-4">That's right! in the first part, you will be given one excerpt from a book. You will have to tell if we're dealing with simple or complex clause.</p>
                  <p class="lead fs-3 mb-4">If you choose the wrong option, it is completely fine. You'll see a message in which you'll be given a little help.</p>
                  <p class="lead fs-3 mb-4">If you choose the right option in the first try, you will be rewarded with 2 points.</p>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

<div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Boundaries</h1>
      <table class="table table-primary">
          <tbody>
            <tr>
              <td class="align-middle" colspan="4">
                  <p class="lead fs-3 mb-4">Now, for the second part, you will have to put the correct boundaries of the given excerpt using "//" for simple clause y "///" for complex clause.</p>
                  <p class="lead fs-3 mb-4">If you choose the wrong option, it is completely fine. You'll see a message in which you'll be given a little help.</p>
                  <p class="lead fs-3 mb-4">If you choose the right option in the first try, you will be rewarded with 4 points.</p>
              </td>
              <td colspan="1"><img class="center" src="https://i.postimg.cc/t4kJF773/Hippo-para-Dialogos.png" alt=""  width="200"></td>
            </tr>
          </tbody>
        </table>
  </div>

<div class="b-example-divider"></div>

    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Labelling</h1>
      <table class="table table-success">
          <tbody>
            <tr>
              <td class="align-middle" colspan="1"><img class="center" src="https://i.postimg.cc/x8JM49rx/Parakeet-para-Dialogos-1.png" alt=""  width="200"></td>
              <td class="align-middle" colspan="4">
                  <p class="lead fs-3 mb-4">Finally, in the third part you will have to label the clauses of the given excerpt according to their logical relationship; that is, parataxis or hypotaxis.</p>
                  <p class="lead fs-3 mb-4">Remember that if we're dealing with parataxis, we label the independent clauses "1" and "2" respectively.</p>
                  <p class="lead fs-3 mb-4">And if we're dealing with hypotaxis, we label the independent clause "α" (alpha), the dependent ones "β" (beta) and so on.</p>
                  <p class="lead fs-3 mb-4">If you choose the wrong option, it is completely fine. You'll see a message in which you'll be given a little help.</p>
                  <p class="lead fs-3 mb-4">If you choose the right option in the first try, you will be rewarded with 2 points.</p>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

<div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">Progression</h1>
      <table class="table table-primary">
          <tbody>
            <tr>
              <td class="align-middle" colspan="4">
                  <p class="lead fs-3 mb-4">At the end of each exercise you will be assigned the points you won. There will be 10 exercises.</p>
                  <p class="lead fs-3 mb-4">And after completing the exercises, you will see your final score as well as the ones of the other people who have played the game.</p>
              </td>
              <td colspan="1"><img class="center" src="https://i.postimg.cc/t4kJF773/Hippo-para-Dialogos.png" alt=""  width="200"></td>
            </tr>
          </tbody>
        </table>
  </div>

<div class="b-example-divider"></div>



  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <img src="https://i.postimg.cc/rpKDWxHV/parakeet-1.png" alt=""  width="500">
      <h1 class="display-5 fw-bold text-white">{{user_player}}, time to play!</h1>
      <div class="px-4 py-5 my-5 text-center">

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'exercise_1' user_player %}" class="btn btn-light btn-lg px-4 gap-3">Play!</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>