<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Explanation</title>
    <link rel="shortcut icon" href="{% static 'images/GENERAL/DODGE_IZ.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
    </style>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-2">Project Explanation</h1>
  </div>

<div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Title 1</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-success">P: Hello, people. Welcome to Hippo and Parakeet: Pull and Rush. My name is Parataxis Kent Halliday II, but folks call me Parakeet. I love driving my taxi, and having some illegal races, or the so-called “piques”😼, with my friends from time to time. </mark></p>
      <p class="lead mb-4 text-primary">H: Hi, guys, I'm Hippopotaximus Amphibius, but it is too long. So just call me Hippo 🙁. I enjoy driving too, but I have to confess I'm not a really good driver, my taxi always turns off halfway through or doesn't even turn on properly. </p>
    </div>
  </div>
<div class="b-example-divider"></div>
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Title 2</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-success">P: Why are you here? Oh!, let me guess, having troubles getting Hypotaxis and Parataxis? He,he… Well, lucky you, my Hippo friend and I are here to give you a hand. </mark></p>
      <p class="lead mb-4 text-primary">H: Yup, yup, we´re gonna use our taxis. So, fasten your seatbelts and let's get started! </p>
    </div>
  </div>
<div class="b-example-divider"></div>
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Title 3</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4 text-warning">God: Here you have a taxi. Now, imagine this taxi is a simple clause. So it can stand on its own.  </mark></p>
      <p class="lead mb-4 text-warning">God: However, when there are two taxis, or simple clauses, they turn into a complex clause.</p>
    </div>
  </div>
<div class="b-example-divider"></div>
    <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Title 4</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4 text-success">P: Didn’t I tell you that illegal races please me? He…he. It 's funny since those races also remind me of my Grammar classes. Let me tell you why. </mark></p>
        <p class="lead mb-4 text-success">In the “piques”, I see two taxis racing side by side as two independent clauses in a complex clause. For you to know, this relationship is called Parataxis.</p>
        <p class="lead mb-4 text-success">In technical terms, this clause relationship is known as Parataxis, where each one of them have full meaning by their own</p>
        <p class="lead mb-4 text-success">I see each taxi as an independent clause, because the taxis can go by their own. </p>
        <p class="lead mb-4 text-success">Example: Parakeet likes to compete in illegal races and he is a very good taxi driver.</p>
    </div>
  </div>
<div class="b-example-divider"></div>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Title 5</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-primary">H: But don't forget about me!</p>
            <p class="lead mb-4 text-primary">I've been stuck in my way. So sometimes I need help from my bud Parakeet</p>
            <p class="lead mb-4 text-primary">Parakeet has helped me by pulling my car out of the race to be fixed. It's like hypotaxis, isn't it?</p>
            <p class="lead mb-4 text-primary">The hypotaxis is when a clause drag another clause, so the dependant clause depends on the other one</p>
            <p class="lead mb-4 text-primary">Example: Parakeet runs the race while he pulls Hippo´s taxi. </p>
        </div>
  </div>
<div class="b-example-divider"></div>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Title 5</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-primary">H: Sometimes I think Parakeet is going crazy because, even in the middle of one of those illegal races, he's willing to pull my taxi along the run.</p>
            <p class="lead mb-4 text-primary">I usually relate this situation when there is hypotaxis within parataxis, there are 3 clauses: 2 independant and 1 dependant</p>
            <p class="lead mb-4 text-primary">Example: Parakeet likes to compete in illegal races while he pulls Hippo’s car but he still wins the races.</p>
        </div>
  </div>
<div class="b-example-divider"></div>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Title 6</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 text-success">P: Crazy?  I'm not crazy, I'm fearless!!</p>
            <p class="lead mb-4 text-success">I mean, who else can pull two or more cars and still win the race??</p>
            <p class="lead mb-4 text-success">One clause can carry more than one clause. It's like parataxis within hypotaxis</p>
            <p class="lead mb-4 text-success">Example: Parakeet runs the race while he pulls Hippo´s taxi and steps on the gas. </p>
        </div>
    </div>

<div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">References:</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">-  Lock, G (1996). Functional English Grammar An Introduction for Second Language Teachers. Cambridge University Press.</p>
        <p class="fs-5 mb-4">-  Kayode A. (2022). AN APPRAISAL OF THE EPITHETS ORDERING IN THE MODIFIER SYSTEM OF NOMINAL GROUP. University of Ibadan.</p>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">{{user_player}}, time to play!</h1>
      <div class="px-4 py-5 my-5 text-center">

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'exercise_1' user_player %}" class="btn btn-primary btn-lg px-4 gap-3">Play!</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>