<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Explanation</title>
    <link rel="shortcut icon" href="{% static 'images/GENERAL/DODGE_IZ.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }
    </style>
</head>
<body>
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-2">Topic explanation</h1>
  </div>
<div class="b-example-divider"></div>
  <div class="px-4 py-5 my-5 text-center">


    <h1 class="display-5 fw-bold">What is a describer?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">The describer is the part of the Pre Modification of the Nominal Group that deals with descriptions of the Noun. In other words, we can say that <mark>inside the describer we find the characteristics of one noun.</mark></p>
      <p class="lead mb-4">Mainly, they are divided into two types: the opinion describer and the fact describer. <mark>Opinion describers</mark> are descriptions based on the personal perspective of the speaker/writer, whereas <mark>fact describers</mark> consider the characteristics that are facts. We can find the color, size, shape, among others, among the fact describers. </p>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Describer ordering</h1>
    <div class="col-lg-6 mx-auto">
      <h4><p class="mb-4"><mark>Tale from a mundane writer:</mark></p></h4>
      <p class="lead mb-4"><i>"I remember once I got fuzzed at writing one of my novels. Once finished, I just had to put the title, but I struggled for three days thinking about which order was right: Was it The Dark Old Spanish Book right or The Old Spanish Dark Book? Or what about The Spanish Dark Old Book? What a trouble!</i></p>
      <p class="lead mb-4"><i>However, I realized there might be people with the same issue; I was right. Then I found <u>Kayode's work (2022)</u>, and I finally could finish my novel (which was not as good as I thought it would be)."</i></p>
      <p class="lead mb-4">According to <mark>Kayode (2022)</mark>, epithets (or describers) are commonly placed as it follows:</p>
      <h5>Quality - Size - Shape - Age - Color - Material - Origin/Nationality - Participle</h5>
      <p class="lead mb-4">But we adapted it a little bit:</p>
      <h5>Opinion - Size - Shape - Age - Color - Material - Origin - Participle</h5>
      <p class="lead mb-4">We changed Quality for Opinion. At the end, they refer to the same notion, <mark>the subjectivity of the writer/speaker about the noun.</mark></p>
      <p class="lead mb-4">We also joined Origin and Nationality, as they meant the same concept: <mark>the place where someone was born or something comes from.</mark></p>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Types of describers:</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We will proceed to explain describers (or epithets) by mentioning them in the order presented above.</p>
      <p class="lead mb-4"><strong>Opinion:</strong> These are epithets that describe someone's own <mark>perception of the subject</mark>. This is to say, opinion epithets are the opposite of  fact epithet (color, size, age, etc.).</p>
      <p class="lead mb-4"><strong>Size:</strong> These epithets refer to <mark>the actual size of the noun</mark>. We can see adjectives as: little, big, small, huge, etc.</p>
      <p class="lead mb-4"><strong>Shape:</strong> Generally, they deal with <mark>geometrical concepts</mark> such as: squared, rounded, crescent, etc.</p>
      <p class="lead mb-4"><strong>Color:</strong> You might say that something is white, black, red, or green according to the real color of that thing. <mark>The color that we all perceive.</mark></p>
      <p class="lead mb-4"><strong>Age:</strong> Age Epithets handle <mark>the longevity</mark> that a thing or being has exited or lived.</p>
      <p class="lead mb-4"><strong>Material/Origin:</strong> When saying <mark>what something is made of</mark>, you'd better use a material Epithet. For example, a wooden door, a plastic bag or a metal key. When, besides, saying <mark>the origin of something or someone</mark>, you'd better use origin epithets to say <mark>where someone was born or where something comes from.</mark></p>
      <p class="lead mb-4"><strong>Participle:</strong> These come from verb forms. They might appear in -ing form or -ed/en form. The -ing form refers to <mark>nouns that cause that verb to others</mark>, as in the boring teacher. On the other hand, the -ed/en form shows that <mark>the verb is affected at the noun</mark>, as in the bored teacher.  (Lock, G (1996), pp. 49)</p>

    </div>
  </div>

    <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">References:</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">-  Lock, G (1996). Functional English Grammar An Introduction for Second Language Teachers. Cambridge University Press.</p>
        <p class="fs-5 mb-4">-  Kayode A. (2022). AN APPRAISAL OF THE EPITHETS ORDERING IN THE MODIFIER SYSTEM OF NOMINAL GROUP. University of Ibadan.</p>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">{{player}}, time to learn how to play!</h1>
      <div class="px-4 py-5 my-5 text-center">

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'game_exp' player%}" class="btn btn-primary btn-lg px-4 gap-3">Click me to learn about the game!</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>